body { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: lightskyblue; 
}

.entete {
    display: flex;
    align-items: center; /* aligne verticalement le texte et l'image */
    justify-content: center;     /* centre le bloc horizontalement */
    gap: 20px; /* espace entre le logo et le texte */
    padding: 10px;
}
a.logo-lien:hover {
    background-color: transparent;
    padding: 0px;
}

a {
    margin-top: 15;
}