h1 {
    color: blue;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:  rgb(49, 136, 187);
    margin-left: -50px;
    margin-top: 0px;
}

.informaticien {
   border: 4px solid black;
   padding: 20px;
   margin: 30px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   gap: 120px;
}

.img-informaticien {
    width: 100px;
    height: auto; 
}

.boucher {
    border: 4px solid black;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 120px;
 
 }

 .img-boucher {
    width: 100px;
    height: auto; 
}

 .chomeur {
    border: 4px solid black;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 120px;
 
 }

 .img-chomeur {
    width: 100px;
    height: auto; 
}


button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}
 
button:hover {background-color: rgb(119, 169, 254);}
button:active{background-color: rgb(119, 169, 254);}
