a:hover {background-color: black;}
a:active {background-color: rgb(44, 188, 11);}
body { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: lightskyblue; 
}
