h1 { 
    color: blue; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
h3 {
    display: flex;
    align-items: center;
    justify-content: center;

}
p { 
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
} 
label {
    display: inline-block;
    width: 140px;
    text-align: center;
  }
button {
    color: black;
    font-size: x-large;
    background-color: (80, 126, 202);
    margin-left: 10px;
    border-radius: 16px;
}
body {
    font-size: x-large;
}
input {
    border-radius: 6px;
    font-size: x-large;
}
select {
    border-radius: 6px;
}
a {
    font-size: large;
}
.title_content{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(49, 136, 187);
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 45px;
    border-radius: 6px;
}
.signincontent_button_link{
    margin-bottom: 50px;
}
.retour{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 6px;
    border-color: black; 
}
