h1 { 
    color: blue; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
h3 {
    display: flex;
    align-items: center;
    justify-content: center;

}
p { 
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
} 
label {
    display: inline-block;
    width: 140px;
    text-align: center;
  }
button {
    color: black;
    font-size: x-large;
    background-color: rgb(49, 136, 187);
    margin-left: 10px;
    border-radius: 16px;
}
body {
    font-size: x-large;
}
input {
    border-radius: 6px;
    font-size: x-large;
}
select {
    border-radius: 6px;
}
a {
    font-size: large;
}